<div class="header-inner">
    <!--<div class="header-box header-top">
        <div class="header-left"><h1>2024</h1></div>
        <div class="header-right"><h1>LEE EUN SEO</h1></div>
    </div>-->
    <div class="header-box header-fix">
        <div class="header-left"><h1><img src="./les_file/img/logo.png" alt=""></h1></div>
        <div class="header-right gnb">
            <ul>
                <li><a href="#none">About Me</a></li>
                <li><a href="#none">Projects</a></li>
                <li><a href="#none">Other Projects</a></li>
                <li><a href="#none">Contect</a></li>
            </ul>
        </div>
    </div>
</div>

