:root {
    --main-color:#b53720;
    --sub-color:#fffefe;
}
.pc-img { display:block; }
.mo-img { display:none; }

#main { box-sizing:border-box; overflow:hidden; }
.main-wrap { padding:0; box-sizing:border-box; }

#header { top:-106px; transition:1s ease-in-out; }
#header.on { top:0; opacity:1; }

.main-inner { position:relative; max-width:1840px; width:100%; margin:0 auto; padding:0 20px; box-sizing:border-box;}

/*========================================================================
메인 비주얼
========================================================================*/
.main-visual { position:relative; max-width:2000px; width:100%; height:100%; margin:0 auto; overflow:hidden; opacity:0; }
.main-visual .main-image img { width:100%; vertical-align:top; }
.visual-dimmed { position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:10%; height:10%; background:rgba(13,26,19, 0.2); border-radius:100%; transition:0.7s ease-in-out; }
.visual-dimmed.show { width:100%; height:100%; border-radius:0; }

/* 비쥬얼 텍스트 */
.main-visual > a > div.main-visual-title ul { position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); }
.main-visual > a > div.main-visual-title ul> .mainTit {  text-align:center; }
.main-visual > a > div.main-visual-title ul> .mainTit > img { width:100%; }
.main-visual > a > div.main-visual-title ul > .sub-tit { display:flex; align-items:center; justify-content:space-between; position:relative; color:var(--sub-color); font-size:50px;  }
.main-visual > a > div.main-visual-title ul > .main-txt1 { margin-bottom:60px; text-align:left; letter-spacing:-2.5px; }
.main-visual > a > div.main-visual-title ul > .main-txt3 { margin-top:60px; text-align:right; letter-spacing:-0.5px; }

.main-visual .main-visual-title .visual-txt-motion::before { content:""; position:absolute; top:50%; left:150px; transform:translateY(-50%); width:0; height:1px; background:var(--sub-color); transition:0.4s ease-in-out; }
.main-visual .main-visual-title .visual-txt-ani2::before { right:355px; left:auto; transform:translateY(-50%); width:0; height:1px; background:var(--sub-color); transition:0.4s ease-in-out; }

/* 텍스트 모션 */
.main-visual > a > div.main-visual-title ul > * { opacity:0; backface-visibility:hidden; animation:FadeIn 1s ease-in-out both;  }
.main-visual > a > div.main-visual-title ul > .main-txt1 { animation-delay:0.8s; }
.main-visual > a > div.main-visual-title ul > .main-txt2 { animation-delay:1.25s; }
.main-visual > a >  div.main-visual-title ul > .main-txt3 { animation-delay:1.75s; }

.main-visual .main-visual-title .visual-txt-motion > img { opacity:0; transition:0.4s ease-in-out; }
.main-visual .main-visual-title .visual-txt-motion > img.rotate { opacity:1; animation:Rotate 1.8s ease-in-out infinite;  }
.main-visual .main-visual-title .visual-txt-ani1.active::before { width:calc(100% - 221px); }
.main-visual .main-visual-title .visual-txt-ani2.active::before { width:calc(100% - 435px); }

/* 스크롤 다운 */
.main-visual .scroll-down { position:absolute; bottom:-100px; left:50%; transform:translateX(-50%); transition:1s ease-in-out; }
.main-visual .scroll-down.on { bottom:30px; animation:scrollDown 1s ease-in-out infinite; }
.main-visual .scroll-down > span { display:block; max-width:34px; }
.main-visual .scroll-down > span > img { width:100%; }

/*========================================================================
메인 영역
========================================================================*/
/* 박스 여백 */
.main-box { position:relative; padding:70px 0 100px;  }
.main-box2 { background:#fff; }
.main-box3 { padding:70px 0;  background:var(--main-color); }
.main-box4 { padding:70px 0 100px; }
.main-box5 {  padding:70px 0 100px; background:var(--main-color); }

/* 타이틀 공통 */
#main .main-title { position:relative; display:flex; padding:0 0 65px; line-height:1; text-align:left; }
#main .main-title h2 { max-width:214px; }
#main .main-title p { max-width:474px; margin:0 40px;}
#main .main-title img { width:100%; vertical-align:top; }



/* 더보기 버튼 */
.more-btn { display:block; width:36px; height:22px; font-size:0; background:url("../img/more-btn.png") no-repeat 100%; }

/* 버튼 공통 */
.btn-box { padding:100px 0 0; display:flex; justify-content:center; } 
.btn-box > * { display:flex; justify-content:center; align-items:center; width:210px; height:55px; margin:0 25px; border: 1px solid var(--main-color); border-radius:50px; }
.btn-box > li > a { color:#121212; font-size:29px; }
.btn-box > li:hover > a { font-weight:700; }
.btn-box > .site-btn {  background:var(--main-color); }
.btn-box > .site-btn a { color:var(--sub-color); }

/* About Me */
.about-bg { position:absolute; top:0; left:0; width:100%; height:100%; background:var(--main-color); }
.about-bg::before { content:""; position:absolute; top:-22px; left:0; width:100%; height:45px; background:url(../img/paper-line-bg.png); transition:0.4s ease-in-out; }
.about-bg::after { content:""; position:absolute; bottom:-22px; left:0; width:100%; height:45px; background:url(../img/paper-line-bg.png); transition:0.4s ease-in-out; }
#main .about-wrap .main-title { display:block; }
#main .about-wrap .main-title p { max-width:438px; margin:80px 0 0; }
.about-flex { display:flex; justify-content:center; align-items: flex-start; }
.about-flex > * { width:33.33%; }
.about-desc { margin-top:50px; color:var(--sub-color); text-align:left; }
.about-desc > ul > li { font-size:24px; line-height:1.5; }
.about-desc > ul > li > strong { display:block; font-size:30px; }
.about-center { margin:0 3.334%; }
.about-center > span { display:block; width:100%; margin:0 auto; border:1px solid var(--sub-color); }
.about-center > span > img { width:100%; vertical-align:top; transition:0.6s ease-in-out;}

.skill-box { background:#fff; }

/* 띠 배너 */
.flow-line-box { white-space:nowrap; overflow:hidden; }
.flow-inner { animation:flowTxt 18s linear Infinite; }
.flow-line-box em { color:var(--sub-color); font-size:45px; font-weight:700; font-style:normal; vertical-align:middle; }
.flow-line-box em span { padding:0 40px; }

/* 프로젝트 */
#main .main-project-wrap .main-title { justify-content:right; }
.project-wrap-top { display:flex; justify-content:space-between; align-items:center; }  
.project-box { display:flex; justify-content:space-between; align-items:center; }
.project-box .box-bottom .project-box { display:flex !important; align-items:center; }
.project-box .box-bottom .bn { display:block; width:100%; }
.project-box .box-bottom .bn img { width:100%; vertical-align:top; }

/* etc 프로젝트 */
.etc-project-wrap { max-width:2000px; width:100%; height:var(--etc-project-height); margin:0 auto; overflow:hidden; }
.etc-project-wrap .swiper-container { margin:40px 0 0; overflow:visible; }
.etc-project-wrap .etc-box .prdList { display:flex; align-items:flex-start; margin:0 0 0 -4.9%; }
.etc-project-wrap .etc-box .prdList > li { display:flex; position: relative; width:30%; margin:0; box-sizing:border-box; }
.etc-project-wrap .etc-box .prdList > li .etc-slide { width:100%; margin:40px auto 0; padding: 0 4%; }
.etc-project-wrap .etc-box .prdList > li.swiper-slide-active { width:40%; }
.etc-project-wrap .etc-box .prdList > li.swiper-slide-active .prd-item { margin-top:0; }
.etc-project-wrap .etc-box .prdList > li .etc-slide .thumbnail img { width:100%; } 
/* 스크롤 바 - 감춤 */
.etc-project-wrap .swiper-scrollbar { background:var(--main-color); }
.etc-project-wrap .swiper-scrollbar-drag { background:var(--main-color); }
/* 좌우 버튼 */
.etc-project-wrap .swiper-control > span { top:186px; width:61px; height:61px; margin:0; background:#262626 no-repeat 50%; border-radius:10px; overflow:hidden; }
.etc-project-wrap .swiper-control .swiper-button-prev { left:-2.8%; background-image:url("/_dbook/img/prd_slide_prev.png"); }
.etc-project-wrap.swiper-control .swiper-button-next { right:-2.8%; background-image:url("/_dbook/img/prd_slide_next.png"); }



@media all and (max-width:768px) {
    /* pc & mo 보기 설정 */
	.pc-img { display:none; }
	.mo-img { display:block; }

    /* 메인 비쥬얼 */
    .main-visual { height:100%; }
    .main-visual > a > div.main-visual-title ul > .sub-tit { font-size:25px;}
    .main-visual > a > div.main-visual-title ul > .main-txt1 { margin-bottom:30px; }
    .main-visual > a > div.main-visual-title ul > .main-txt3 { margin-top:30px; }


    .main-visual .main-visual-title .visual-txt-motion::before { left:50%; transform:translate(-50%,-50%); }
    .main-visual .main-visual-title .visual-txt-ani2::before { right:50%; left:auto; transform:translate(-50%,-50%); }
    .main-visual .main-visual-title .visual-txt-ani1.active::before { width:52%; } 
    .main-visual .main-visual-title .visual-txt-ani2.active::before { width:15%; }

    /* about */
    .about-flex { display:block; }
    .about-flex > * { width:100%; }
    .about-center { margin:0; }
    .about-desc > ul > li > strong { display:inline-block; width:25%; font-size:30px; }

    /* etc 프로젝트 */
    .etc-project-wrap { max-width:100%; }
    .etc-project-wrap .swiper-container { min-height:100%; margin:0; padding:0 0 35px; }
    .etc-project-wrap .etc-box {  }
    .etc-project-wrap .etc-box .prdList { margin:0; }
    .etc-project-wrap .etc-box .prdList > li .prd-item { width:100%; margin:0; padding:0; }
    .etc-project-wrap .etc-box .prdList > li .prd-item > a { width:100%; }
    .etc-project-wrap .etc-box .prdList > li .prd-item .thumbnail { width:100%; height:auto; }
    .etc-project-wrap .etc-box .prdList > li.swiper-slide-active .prd-item .thumbnail { width:100%; height:auto; }
    .etc-project-wrap .etc-box .prdList > li.swiper-slide-active .prd-item .description { width:100%; }
    .etc-project-wrap .swiper-scrollbar { left:0; bottom:0; width:100%; height:2px; background:#dadada; border-radius:0; }
    .etc-project-wrap .swiper-scrollbar-drag { background:#161616; border-radius:0; }
    /* 좌우 버튼 */
    .etc-project-wrap .swiper-control { display:none; }
}