@charset "utf-8"; 

/*========================================================================
Responsive
========================================================================*/
/* pc & mo 보기 설정 */
.pc-view { display:block; }
.pc-view.display-flex { display:flex; }
.pc-view.display-inline { display:inline-block; }
.mo-view { display:none; }
table .pc-view { display:revert; }



@media all and (max-width:1240px) { 


}

@media all and (max-width:1130px) {  


}

@media all and (max-width:1024px) {


}

@media all and (max-width:768px) { /* 패드, 탭, 모바일 */

	/* pc & mo 보기 설정 */
	.mo-view { display:block; }
	.mo-view.display-flex { display:flex; }
	.mo-view.display-inline { display:inline-block; }
	.pc-view,
	.pc-view.display-flex,
	.pc-view.display-inline,
	table .pc-view { display:none; }

	
	/*=======================================
	Layout - 768px
	========================================*/
	#contents { }

	#header { position:absolute; }
	#header.fixed .header-main {  }

	/*=======================================
	상단 영역 - 768px
	========================================*/
	#header .header-top { display:block; position:relative; }
	#header .header-inner { padding:0 15px; }

	.header-left .logo { width:88px; margin:18px auto; }
	#header h1.top-logo a { font-size:0; }
	#header h1.top-logo img { width:100%; }
	
	#header .header-right { display:none;  }
	#header .top-account > ul.column1 { display:none; }
	#header .top-account > ul > li.mypage { display:none; }
	#header .top-account > ul > li { height:22px; line-height:22px; }
	#header .top-account > ul.column2 { margin:0; gap:16px; }
	#header .top-account > ul.column2 > li > a { min-width:20px; height:100%; margin:0; background-size:auto 100%; }
	#header .top-account > ul.column2 > li > a .count { font-size:11px; vertical-align:-6px; }
	#header .top-account > ul.column2 > li > button { width:18px; height:20px; margin:2px 0 0; }
	
	#category { position:static; }
	#category .all-btn-open { position:absolute; top:0; left:0; width:22px; padding:19px 15px; }
	#category .all-btn-open > span { width:100%; }

	#header .header-main { border:0; }
	#header .header-main .cate-menu { display:none; }


	/* 전체카테고리 on */
	#category .cate-all { display:block; top:var(--top-line-height2); left:-100%; border:0; transition:all 0.3s ease-in-out; }
	#category .cate-all.on { left:0; width:87%; }
	#category .cate-all .all-box-wrap { max-height:100%; height:100vh; overflow-y:auto; padding:0 0 35px; box-sizing:border-box; }
	#category .cate-all .all-box { max-height:fit-content; margin:0 25px; padding:20px 0 25px; border-bottom:1px solid #e7e7e7; }
	#category .cate-all .all-box > ul > li { width:100%; padding:0; }
	#category .cate-all .all-box > ul > li > a { padding:0; margin:0; color:#000; font-size:21px; font-weight:700; line-height:2.4; border:0; }
	#category .cate-all .all-box > ul > li .all-sub-box { display:none; }
	#category .cate-all .all-box > ul > li .all-sub-box ul > li a { padding:0; color:#6c6c6c; font-size:14px; font-weight:400; line-height:2.7; }

	#header.fixed #category .cate-all { top:0; }

	#layerDim { display:none; position:fixed; top:0; left:0; z-index:70; width:100%; height:100%; background:rgba(0,0,0,0.7); }

	/* 전체카테고리 닫기 버튼 */
	#category .all-btn-close { display:block; position:absolute; top:0; right:0; width:16px; height:16px; padding:22px 25px; background:none; }
	#category .all-btn-close span { display:block; position:relative; width:20px; height:20px; margin:-2px 0 0 -2px; font-size:0; transform:rotate(45deg); }
	#category .all-btn-close span::before { content:""; display:block; position:absolute; top:0; left:50%; margin:0 0 0 0; width:1px; height:21px; background:#000; }
	#category .all-btn-close span::after { content:""; display:block; position:absolute; top:50%; left:50%; margin:0 0 0 -10px; width:21px; height:1px; background:#000; }

	/* 전체카테고리 로그인 */
	#category .side-top { margin:0 25px; padding:10px 0; border-bottom:1px solid #e7e7e7; }
	#category .side-top ul { display:flex; }
	#category .side-top ul li { position:relative; padding:0 15px; }
	#category .side-top ul li::after { content:""; position:absolute; top:14px; left:-1px; height:12px; border-left:1px solid #bcbcbc; }
	#category .side-top ul li:first-child { padding-left:0; }
	#category .side-top ul li:first-child::after { display:none; }
	#category .side-top a { display:block; padding:13px 0 10px; color:#8e8e8e; font-size:13px; }

	/* 전체카테고리 마이 메뉴 */
	#category .side-myshop { margin:0 25px; padding:20px 0 25px; border:0; }
	#category .side-myshop > ul { }
	#category .side-myshop > ul > li { border:0; }
	#category .side-myshop > ul > li > a { display:block; padding:0; color:#6c6c6c; font-size:14px; font-weight:400; line-height:2.7; }
	#category .side-myshop li a::after { display:none; }
	
	/* 전체카테고리 하위 + 표시 */
	#category .cate-all .all-box ul li { display:flex; flex-wrap:wrap; align-items:center; position:relative; }
	#category .cate-all .all-box ul li a.menu-name { display:block; width:calc(100% - 14px); text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	#category .cate-all .all-box ul li .cate { position:relative; width:14px; height:14px; font-size:0; cursor:pointer; }
	#category .cate-all .all-box ul li .cate::before { content:""; position:absolute; top:calc(50% - 1px); left:0; width:14px; height:2px; background:#000; }
	#category .cate-all .all-box ul li .cate::after { content:""; position:absolute; top:0; left:calc(50% - 1px); width:2px; height:14px; background:#000; }
	#category .cate-all .all-box ul li.no-child a.menu-name { width:100%; }
	#category .cate-all .all-box ul li.no-child .cate { display:none; }
	/* 전체카테고리 하위 선택 - 표시 */
	#category .cate-all .all-box ul li.selected .all-sub-box { display:block; padding-bottom:10px; }
	#category .cate-all .all-box ul li.selected .cate::after { display:none; }	


	/*=======================================
	하단 영역 - 768px
	========================================*/




    
}

@media all and (max-width:640px) {
	.mo640 { display:none; }

	/*=======================================
	하단 영역 - 640px
	========================================*/


}
@media all and (max-width:320px) {



}
